body{
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(./IMAGE/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#HeaderSection div{
    display: inline-block;
}
#HeaderSection div ul li{
    display: inline-block;
}
#HeaderSection #left{
    width: 75%;;
}
#HeaderSection #left #h1{
    font-size: 16px;
}
#HeaderSection div ul li button{
    background-color: transparent;
    width: 77px;
    height: 33px;
    border-radius: 5px;
    color: white
}
#HeaderSection div ul li {
    padding-left: 34px ;
}
#HeaderSection{
    color: white;
}
#HeaderSection #left h1 span{
    font-weight: 100;
}
